{% extends "user/home_layout.html"%}

{% block content %}
<div class="content" style="background-color: white;padding:3em">


    <div class="row g-5">
        <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom"> Contact us</h3>
        {% set m=get_flashed_messages()%}
        {% if m:%}
        {% for msg in m %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endfor%}
        {% endif %}
        
            <form action="" method="post" novalidate>
                {{ contact.csrf_token }}
                {{ contact.screenshot }}
                {% if contact.email.errors %}
                {% for email_error in contact.email.errors %}
                    <div class="col-auto mb-3">
                        <span class="alert alert-danger">{{ email_error}}</span>
                    </div>
                {% endfor %}
                {% endif %}
                <div class="mb-3 form-group row">
                    {{ contact.email.label(class_='col-md-3') }}

                    <div class="col-md-6 ">
                        {{ contact.email(class_='form-control border-success') }}
                    </div>

                    
                        {{contact.confirm_email.errors}}
                    <div class="mb-3 form-group row">
                        {{ contact.confirm_email.label(class_='col-md-3') }}
    
                        <div class="col-md-6 ">
                            {{ contact.confirm_email(class_='form-control border-success') }}
                        </div>
        
                </div>
                {% if contact.messages.errors %}
                    {% for msg_error in contact.messages.errors %}
                        <div class="col-auto mb-3">
                            <span class="alert alert-danger">{{ msg_error}}</span>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
                <div class="mb-3 form-group row">
                    {{ contact.messages.label(class_='col-md-3') }}
                    <div class="col-md-8 ">
                        {{ contact.messages(class_='form-control border-success',rows_=3) }}
                    </div>
                </div>
                <div class="mb-3 form-group row">
                    <div class="col-md-6 offset-md-3">
                        {{ contact.submit(class_='btn btn-success btn-lg col-9') }}
                    </div>
                </div>
            </form>
    
    </div>
    </div>

   </div>
 
{% endblock %}